.big--container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5vh;
}

.big--sub-container {
    width: 90%;
    height: 80vh;
    background-color: rgba(23, 27, 28, 0.442);
    border-radius: 10px;
}

.big-dropdown {
    background-color: transparent;
    padding: 5px;
}

.big-dropdown-opt {
    color: black;
    background-color: transparent;
}